{# templates/task/view.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Detalii Sarcină{% endblock %}

{% block body %}
<h1>Detalii Sarcină</h1>

<h2>{{ task.title }}</h2>
<p>Descriere: {{ task.description }}</p>
<p>Categorie: {{ task.category.name }}</p>
<p>Data Creării: {{ task.createdAt|date("Y-m-d H:i:s") }}</p>



{% endblock %}